<section class="c-form__group">
  <label *ngIf="label" [for]="label" class="c-form__label">{{ label }}</label>
  <select
    [id]="label"
    class="c-form__input"
    [formControl]="control"
    [disabled]="_isDisabled"
    (blur)="onBlur()"
    [ngClass]="{'c-form__input--error': control?.invalid && control?.touched}"
  >
    <option value="">{{ placeholder }}</option>
    @for (option of options; track option.value) {
      <option [value]="option.value">{{ option.label }}</option>
    }
  </select>
  @if (control?.invalid && control?.touched) {
    <p class="c-form__error">
      @if (control?.hasError('required')) {
        {{ label || 'Este campo' }} es obligatorio.
      }
    </p>
  }
</section>