<article class="c-empty-state">
  @if (icon()) {
    <figure class="c-empty-state__icon" aria-hidden="true">
      {{ icon() }}
    </figure>
  }

  <h3 class="c-empty-state__title">{{ title() }}</h3>

  <p class="c-empty-state__message">{{ message() }}</p>

  @if (actionLabel()) {
    <button
      class="c-empty-state__action c-button c-button--primary"
      (click)="actionClicked.emit()"
      type="button"
    >
      {{ actionLabel() }}
    </button>
  }

  @if (secondaryActionLabel()) {
    <button
      class="c-empty-state__action c-empty-state__action--secondary c-button c-button--secondary"
      (click)="secondaryActionClicked.emit()"
      type="button"
    >
      {{ secondaryActionLabel() }}
    </button>
  }
</article>
