<section class="newsletter-form">
  <section class="newsletter-form__content">
    <h2>¿Quieres estar al tanto de todas las noticias?</h2>
    <p>Suscríbete a nuestra newsletter para recibir las últimas novedades y consejos.</p>
    <form class="c-form newsletter-form__form">
      <section class="c-form__group">
        <label for="name" class="c-form__label">Nombre</label>
        <input type="text" id="name" class="c-form__input" placeholder="Tu nombre">
      </section>
      <section class="c-form__group">
        <label for="lastName" class="c-form__label">Apellido</label>
        <input type="text" id="lastName" class="c-form__input" placeholder="Tu apellido">
      </section>
      <section class="c-form__group">
        <label for="email" class="c-form__label">Email</label>
        <input type="email" id="email" class="c-form__input" placeholder="tu.email@ejemplo.com">
      </section>
      <button type="submit" class="c-button c-button--primary c-button--large newsletter-form__submit-button">Enviar</button>
    </form>
  </section>
</section>