@import '../../../../../styles/00-settings/css-variables';
@import '../../../../../styles/01-tools/mixins';

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: var(--spacing-size-m);
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-size-xs) 0;
  border-bottom: 1px dashed var(--border-light);
  color: var(--text-primary);
}

.ingredient-item:last-child {
  border-bottom: none;
}

.ingredient-item__name {
  font-weight: var(--font-weight-medium);
}

.ingredient-item__quantity {
  color: var(--text-secondary);
}

.ingredient-item__price {
  font-weight: var(--font-weight-semibold);
}

.total-cost {
  text-align: right;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  margin-top: var(--spacing-size-m);
}

.total-cost__value {
  color: var(--negro-puro);
}
