<section class="reset-password-page">
  <article class="reset-password-card c-card">
    <header class="reset-password-card__header">
      <h1 class="reset-password-card__title">Restablecer Contraseña</h1>
    </header>

    <section>
      <!-- Step 1: Request Email -->
      <form class="c-form reset-password-card__form" [formGroup]="emailForm" (ngSubmit)="requestResetCode()" *ngIf="!codeSent">
        <section class="c-form__group">
          <label for="email" class="c-form__label">Email</label>
          <input type="email" id="email" class="c-form__input" formControlName="email" placeholder="tu.email@ejemplo.com"
                 [ngClass]="{'c-form__input--error': emailForm.get('email')?.invalid && emailForm.get('email')?.touched}">
          @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <p class="c-form__error">
              @if (emailForm.get('email')?.hasError('required')) {
                El email es obligatorio.
              }
              @if (emailForm.get('email')?.hasError('email')) {
                El email no es válido.
              }
            </p>
          }
        </section>
        <button type="submit" class="c-button c-button--primary c-button--large reset-password-card__submit" [disabled]="emailForm.invalid">Enviar Código</button>
      </form>

      <!-- Step 2: Enter Code and New Password -->
      <form class="c-form reset-password-card__form" [formGroup]="resetForm" (ngSubmit)="resetPassword()" *ngIf="codeSent">
        <section class="c-form__group">
          <label for="code" class="c-form__label">Código de Verificación</label>
          <input type="text" id="code" class="c-form__input" formControlName="code" placeholder="#####"
                 [ngClass]="{'c-form__input--error': resetForm.get('code')?.invalid && resetForm.get('code')?.touched}">
          @if (resetForm.get('code')?.errors && resetForm.get('code')?.touched) {
            <p class="c-form__error">
              @if (resetForm.get('code')?.hasError('required')) {
                El código es obligatorio.
              }
              @if (resetForm.get('code')?.hasError('minlength')) {
                El código debe tener al menos 6 caracteres.
              }
            </p>
          }
        </section>
        <section class="c-form__group">
          <label for="newPassword" class="c-form__label">Nueva Contraseña</label>
          <input type="password" id="newPassword" class="c-form__input" formControlName="newPassword" placeholder="********"
                 [ngClass]="{'c-form__input--error': resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched}">
          @if (resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched) {
            <p class="c-form__error">
              @if (resetForm.get('newPassword')?.hasError('required')) {
                La nueva contraseña es obligatoria.
              }
              @if (resetForm.get('newPassword')?.hasError('passwordStrength')) {
                La contraseña debe tener al menos 12 caracteres, mayúsculas, minúsculas, números y símbolos.
              }
            </p>
          }
        </section>
        <section class="c-form__group">
          <label for="confirmNewPassword" class="c-form__label">Confirmar Nueva Contraseña</label>
          <input type="password" id="confirmNewPassword" class="c-form__input" formControlName="confirmNewPassword" placeholder="********"
                 [ngClass]="{'c-form__input--error': resetForm.get('confirmNewPassword')?.invalid && resetForm.get('confirmNewPassword')?.touched || resetForm.hasError('passwordMatch') && resetForm.get('confirmNewPassword')?.touched}">
          @if (resetForm.get('confirmNewPassword')?.errors && resetForm.get('confirmNewPassword')?.touched || resetForm.hasError('passwordMatch') && resetForm.get('confirmNewPassword')?.touched) {
            <p class="c-form__error">
              @if (resetForm.get('confirmNewPassword')?.hasError('required')) {
                La confirmación de contraseña es obligatoria.
              }
              @if (resetForm.hasError('passwordMatch')) {
                Las contraseñas no coinciden.
              }
            </p>
          }
        </section>
        <button type="submit" class="c-button c-button--primary c-button--large reset-password-card__submit" [disabled]="resetForm.invalid">Restablecer Contraseña</button>
      </form>
    </section>

    <footer class="reset-password-card__footer">
      <p class="reset-password-card__login-text">
        <a routerLink="/login" class="reset-password-card__link">Volver a Iniciar Sesión</a>
      </p>
    </footer>
  </article>
</section>
